In [1]:
import numpy as np
import pandas as pd

In [2]:
np.set_printoptions(precision=4)

## All files

In [3]:
files = !ls ../records/game_reg/

In [4]:
datasets = []
for file in files:
    datasets.append(pd.read_csv('../records/game_reg/{}'.format(file), index_col=0))
all_data = pd.concat(datasets, ignore_index=True)
all_data.shape

(210796, 11)

In [5]:
all_data.head(5)

,cactus1,cactus2,cactus3,ptera1x,ptera1y,ptera2x,ptera2y,ptera3x,ptera3y,isJumping,isDucking
0,636,640,640,640,95,640,95,640,95,0,0
1,632,640,640,640,95,640,95,640,95,0,0
2,628,640,640,640,95,640,95,640,95,0,0
3,624,640,640,640,95,640,95,640,95,0,0
4,620,640,640,640,95,640,95,640,95,0,0

In [6]:
#all_data['output'] = 2*all_data['isJumping'] + all_data['isDucking']
#all_data[all_data['output'] > 2] = 2
#train_cols = ['cactus1', 'cactus2', 'cactus3', 'ptera1x', 'ptera1y', 'ptera2x', 'ptera2y', 'ptera3x', 'ptera3y']
train_cols = ['cactus1', 'ptera1x', 'ptera1y']
data = all_data[train_cols]
data.describe()

             cactus1        ptera1x        ptera1y
count  210796.000000  210796.000000  210796.000000
mean      246.812881     429.300006     106.655193
std       184.389599     235.565626      17.122121
min       -40.000000     -46.000000      95.000000
25%        92.000000     214.000000      95.000000
50%       224.000000     538.000000      95.000000
75%       388.000000     640.000000     117.000000
max       640.000000     642.000000     140.000000

In [7]:
#data.values[data.values < 0] = 0

In [8]:
data.min()

cactus1   -40
ptera1x   -46
ptera1y    95
dtype: int64

In [9]:
data.max()

cactus1    640
ptera1x    642
ptera1y    140
dtype: int64

In [10]:
data.max() - data.min()

cactus1    680
ptera1x    688
ptera1y     45
dtype: int64

In [11]:
normalized=(data-data.min())/(data.max()-data.min())
normalized.describe()

             cactus1        ptera1x        ptera1y
count  210796.000000  210796.000000  210796.000000
mean        0.421784       0.690843       0.259004
std         0.271161       0.342392       0.380492
min         0.000000       0.000000       0.000000
25%         0.194118       0.377907       0.000000
50%         0.388235       0.848837       0.000000
75%         0.629412       0.997093       0.488889
max         1.000000       1.000000       1.000000

In [12]:
normalized.head(5)

    cactus1   ptera1x  ptera1y
0  0.994118  0.997093      0.0
1  0.988235  0.997093      0.0
2  0.982353  0.997093      0.0
3  0.976471  0.997093      0.0
4  0.970588  0.997093      0.0

In [13]:
normalized['ptera1y'] = 1 - normalized['ptera1y']
normalized.head(10)

    cactus1   ptera1x  ptera1y
0  0.994118  0.997093      1.0
1  0.988235  0.997093      1.0
2  0.982353  0.997093      1.0
3  0.976471  0.997093      1.0
4  0.970588  0.997093      1.0
5  0.964706  0.997093      1.0
6  0.958824  0.997093      1.0
7  0.952941  0.997093      1.0
8  0.947059  0.997093      1.0
9  0.941176  0.997093      1.0

In [14]:
X_train = 1 - np.array(normalized.values, dtype='float32')
Y_train = np.array(all_data['isJumping'].values, dtype='int32')
Z_train = np.array(all_data['isDucking'].values, dtype='int32')
#Y_train = np.array(data['isJumping'].values, dtype='int32')
X_train[:10]

array([[0.0059, 0.0029, 0.    ],
       [0.0118, 0.0029, 0.    ],
       [0.0176, 0.0029, 0.    ],
       [0.0235, 0.0029, 0.    ],
       [0.0294, 0.0029, 0.    ],
       [0.0353, 0.0029, 0.    ],
       [0.0412, 0.0029, 0.    ],
       [0.0471, 0.0029, 0.    ],
       [0.0529, 0.0029, 0.    ],
       [0.0588, 0.0029, 0.    ]], dtype=float32)

In [15]:
list(set(X_train[:,2]))

[0.0, 1.0, 0.48888886]

In [16]:
def sigmoid(x):
    return 1/(1+np.exp(-16*(x-0.7)))

In [17]:
X_train[:,0:2] = sigmoid(X_train[:,0:2])
#X_train = sigmoid(X_train)

In [18]:
X_train[:10]

array([[1.5023e-05, 1.4325e-05, 0.0000e+00],
       [1.6506e-05, 1.4325e-05, 0.0000e+00],
       [1.8135e-05, 1.4325e-05, 0.0000e+00],
       [1.9925e-05, 1.4325e-05, 0.0000e+00],
       [2.1891e-05, 1.4325e-05, 0.0000e+00],
       [2.4051e-05, 1.4325e-05, 0.0000e+00],
       [2.6425e-05, 1.4325e-05, 0.0000e+00],
       [2.9033e-05, 1.4325e-05, 0.0000e+00],
       [3.1898e-05, 1.4325e-05, 0.0000e+00],
       [3.5046e-05, 1.4325e-05, 0.0000e+00]], dtype=float32)

In [19]:
list(set(X_train[:,2]))

[0.0, 1.0, 0.48888886]

In [20]:
norm_data = pd.DataFrame(X_train, columns=['cactus', 'pterax', 'pteray'])

In [21]:
norm_data.head()

     cactus    pterax  pteray
0  0.000015  0.000014     0.0
1  0.000017  0.000014     0.0
2  0.000018  0.000014     0.0
3  0.000020  0.000014     0.0
4  0.000022  0.000014     0.0

In [22]:
norm_data['isJumping'] = Y_train
norm_data['isDucking'] = Z_train

In [23]:
norm_data.head()

     cactus    pterax  pteray  isJumping  isDucking
0  0.000015  0.000014     0.0          0          0
1  0.000017  0.000014     0.0          0          0
2  0.000018  0.000014     0.0          0          0
3  0.000020  0.000014     0.0          0          0
4  0.000022  0.000014     0.0          0          0

In [24]:
norm_data.to_csv('../records/datasets/clean_batch_large.csv', index=False)

In [25]:
pd.read_csv('../records/datasets/clean_batch_large.csv').head()

     cactus    pterax  pteray  isJumping  isDucking
0  0.000015  0.000014     0.0          0          0
1  0.000017  0.000014     0.0          0          0
2  0.000018  0.000014     0.0          0          0
3  0.000020  0.000014     0.0          0          0
4  0.000022  0.000014     0.0          0          0