In [3]:
import numpy as np
import pandas as pd

In [4]:
np.set_printoptions(precision=4)

## All files

In [7]:
files = !ls ../records/game_reg/

In [10]:
datasets = []
for file in files:
    datasets.append(pd.read_csv('../records/game_reg/{}'.format(file), index_col=0))
all_data = pd.concat(datasets, ignore_index=True)
all_data.shape

(545142, 11)

In [11]:
all_data.head(5)

,cactus1,cactus2,cactus3,ptera1x,ptera1y,ptera2x,ptera2y,ptera3x,ptera3y,isJumping,isDucking
0,636,640,640,640,95,640,95,640,95,0,0
1,632,640,640,640,95,640,95,640,95,0,0
2,628,640,640,640,95,640,95,640,95,0,0
3,624,640,640,640,95,640,95,640,95,0,0
4,620,640,640,640,95,640,95,640,95,0,0

In [12]:
#all_data['output'] = 2*all_data['isJumping'] + all_data['isDucking']
#all_data[all_data['output'] > 2] = 2
#train_cols = ['cactus1', 'cactus2', 'cactus3', 'ptera1x', 'ptera1y', 'ptera2x', 'ptera2y', 'ptera3x', 'ptera3y']
train_cols = ['cactus1', 'ptera1x', 'ptera1y']
data = all_data[train_cols]
data.describe()

             cactus1        ptera1x        ptera1y
count  545142.000000  545142.000000  545142.000000
mean      238.451594     484.949727     105.975617
std       181.133262     216.287262      16.900716
min       -40.000000     -46.000000      95.000000
25%        88.000000     334.000000      95.000000
50%       216.000000     640.000000      95.000000
75%       372.000000     640.000000     132.000000
max       640.000000     642.000000     132.000000

In [13]:
#data.values[data.values < 0] = 0

In [14]:
data.min()

cactus1   -40
ptera1x   -46
ptera1y    95
dtype: int64

In [15]:
data.max()

cactus1    640
ptera1x    642
ptera1y    132
dtype: int64

In [16]:
data.max() - data.min()

cactus1    680
ptera1x    688
ptera1y     37
dtype: int64

In [17]:
normalized=(data-data.min())/(data.max()-data.min())
normalized.describe()

             cactus1        ptera1x        ptera1y
count  545142.000000  545142.000000  545142.000000
mean        0.409488       0.771729       0.296638
std         0.266372       0.314371       0.456776
min         0.000000       0.000000       0.000000
25%         0.188235       0.552326       0.000000
50%         0.376471       0.997093       0.000000
75%         0.605882       0.997093       1.000000
max         1.000000       1.000000       1.000000

In [18]:
normalized.head(5)

    cactus1   ptera1x  ptera1y
0  0.994118  0.997093      0.0
1  0.988235  0.997093      0.0
2  0.982353  0.997093      0.0
3  0.976471  0.997093      0.0
4  0.970588  0.997093      0.0

In [19]:
normalized['ptera1y'] = 1 - normalized['ptera1y']
normalized.head(10)

    cactus1   ptera1x  ptera1y
0  0.994118  0.997093      1.0
1  0.988235  0.997093      1.0
2  0.982353  0.997093      1.0
3  0.976471  0.997093      1.0
4  0.970588  0.997093      1.0
5  0.964706  0.997093      1.0
6  0.958824  0.997093      1.0
7  0.952941  0.997093      1.0
8  0.947059  0.997093      1.0
9  0.941176  0.997093      1.0

In [20]:
X_train = 1 - np.array(normalized.values, dtype='float32')
Y_train = np.array(all_data['isJumping'].values, dtype='int32')
#Y_train = np.array(data['isJumping'].values, dtype='int32')
X_train[:10]

array([[0.0059, 0.0029, 0.    ],
       [0.0118, 0.0029, 0.    ],
       [0.0176, 0.0029, 0.    ],
       [0.0235, 0.0029, 0.    ],
       [0.0294, 0.0029, 0.    ],
       [0.0353, 0.0029, 0.    ],
       [0.0412, 0.0029, 0.    ],
       [0.0471, 0.0029, 0.    ],
       [0.0529, 0.0029, 0.    ],
       [0.0588, 0.0029, 0.    ]], dtype=float32)

In [21]:
list(set(X_train[:,2]))

[0.0, 1.0]

In [22]:
def sigmoid(x):
    return 1/(1+np.exp(-16*(x-0.7)))

In [23]:
#X_train[:,0:2] = sigmoid(X_train[:,0:2])
X_train = sigmoid(X_train)

In [24]:
X_train[:10]

array([[1.5023e-05, 1.4325e-05, 1.3674e-05],
       [1.6506e-05, 1.4325e-05, 1.3674e-05],
       [1.8135e-05, 1.4325e-05, 1.3674e-05],
       [1.9925e-05, 1.4325e-05, 1.3674e-05],
       [2.1891e-05, 1.4325e-05, 1.3674e-05],
       [2.4051e-05, 1.4325e-05, 1.3674e-05],
       [2.6425e-05, 1.4325e-05, 1.3674e-05],
       [2.9033e-05, 1.4325e-05, 1.3674e-05],
       [3.1898e-05, 1.4325e-05, 1.3674e-05],
       [3.5046e-05, 1.4325e-05, 1.3674e-05]], dtype=float32)

In [25]:
list(set(X_train[:,2]))

[1.3674011e-05, 0.99183744]

In [27]:
norm_data = pd.DataFrame(X_train, columns=['cactus', 'pterax', 'pteray'])

In [28]:
norm_data.head()

     cactus    pterax    pteray
0  0.000015  0.000014  0.000014
1  0.000017  0.000014  0.000014
2  0.000018  0.000014  0.000014
3  0.000020  0.000014  0.000014
4  0.000022  0.000014  0.000014

In [29]:
norm_data['y'] = Y_train

In [30]:
norm_data.head()

     cactus    pterax    pteray  y
0  0.000015  0.000014  0.000014  0
1  0.000017  0.000014  0.000014  0
2  0.000018  0.000014  0.000014  0
3  0.000020  0.000014  0.000014  0
4  0.000022  0.000014  0.000014  0

In [32]:
norm_data.to_csv('../records/datasets/clean_batch_large.csv', index=False)

In [33]:
pd.read_csv('../records/datasets/clean_batch_big.csv')

          cactus    pterax    pteray  y
0       0.000015  0.000014  0.000014  0
1       0.000017  0.000014  0.000014  0
2       0.000018  0.000014  0.000014  0
3       0.000020  0.000014  0.000014  0
4       0.000022  0.000014  0.000014  0
5       0.000024  0.000014  0.000014  0
6       0.000026  0.000014  0.000014  0
7       0.000029  0.000014  0.000014  0
8       0.000032  0.000014  0.000014  0
9       0.000035  0.000014  0.000014  0
10      0.000039  0.000014  0.000014  0
11      0.000042  0.000014  0.000014  0
12      0.000046  0.000014  0.000014  0
13      0.000051  0.000014  0.000014  0
14      0.000056  0.000014  0.000014  0
15      0.000062  0.000014  0.000014  0
16      0.000068  0.000014  0.000014  0
17      0.000074  0.000014  0.000014  0
18      0.000082  0.000014  0.000014  0
19      0.000090  0.000014  0.000014  0
20      0.000099  0.000014  0.000014  0
21      0.000108  0.000014  0.000014  0
22      0.000119  0.000014  0.000014  0
23      0.000131  0.000014  0.000014  0
24      0.000144  0.000014  0.000014  0
25      0.000158  0.000014  0.000014  0
26      0.000174  0.000014  0.000014  0
27      0.000191  0.000014  0.000014  0
28      0.000209  0.000014  0.000014  0
29      0.000230  0.000014  0.000014  0
...          ...       ...       ... ..
116554  0.073021  0.982974  0.991837  1
116555  0.079654  0.984463  0.991837  1
116556  0.086832  0.985823  0.991837  1
116557  0.094591  0.987066  0.991837  1
116558  0.102965  0.988201  0.991837  1
116559  0.111989  0.989238  0.991837  1
116560  0.121696  0.990185  0.991837  1
116561  0.132119  0.991049  0.991837  0
116562  0.143289  0.991837  0.991837  0
116563  0.155235  0.000014  0.000014  0
116564  0.167982  0.000014  0.000014  0
116565  0.181550  0.000014  0.000014  0
116566  0.195956  0.000014  0.000014  0
116567  0.211210  0.000014  0.000014  0
116568  0.227316  0.000014  0.000014  0
116569  0.244270  0.000014  0.000014  0
116570  0.262059  0.000014  0.000014  0
116571  0.280663  0.000014  0.000014  0
116572  0.300050  0.000014  0.000014  0
116573  0.320181  0.000014  0.000014  0
116574  0.341004  0.000014  0.000014  0
116575  0.362459  0.000014  0.000014  0
116576  0.384477  0.000014  0.000014  0
116577  0.406978  0.000014  0.000014  0
116578  0.429877  0.000014  0.000014  0
116579  0.453080  0.000014  0.000014  0
116580  0.476488  0.000014  0.000014  0
116581  0.500000  0.000014  0.000014  0
116582  0.523512  0.000014  0.000014  0
116583  0.546920  0.000014  0.000014  0

[116584 rows x 4 columns]